.btn {
  --bs-btn-color: red !important;
  --bs-btn-border-color: red !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: red !important;
  --bs-btn-hover-border-color: red !important;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: red;
  --bs-btn-active-border-color: red;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: red;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: red;
  --bs-gradient: none;
}
/* .navbar-logo {
  background-image: url('./netflix_logo.png');
  background-size: contain;
  width: 400px; 
  height: 100px; 
  background-repeat: no-repeat;
} */
